body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #fff, lightgrey);
    background-repeat: no-repeat;
    background-attachment: fixed;
    align-items: center;
    justify-content: center;
}

.session-body {
    justify-content: center;
    min-height: 100vh;
    overflow: scroll;
}

button {
    padding: 10px 20px;
    margin-bottom: 10px;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    background-color: cornflowerblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

button:hover {
    background-color: cornflowerblue;
}

.cardgame-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.cardgame-container {
    background-color: grey;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    text-align: center;
}

.card-title {
    color:white;
    text-align: center;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.button-container {
    margin-top: 60px;
}

#result-h1 {
    color: cornflowerblue;
}

.outside-card-container {
    background-color: grey;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    display: block;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
    height: 400px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.inside-card-container {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    height: 275px;
    display: block;
}

.result-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.result-containers {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}
  
.correct-container, .almost-correct-container, .incorrect-container {
    flex: 1;
    text-align: center;
}
 
.result-return-button {
    margin-top: 20px;
}

h1 {
    color: white;
    text-align: center;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    color: cornflowerblue;
}

.start-card-container {
    display: none;
}

.back-card-container {
    display: none;
}

p {
    margin: 10px 0;
}